<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<title>JSL Portal</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a th:href="@{/}" href="home.html"> Home </a></li>
				</ul>
			</div>
		</div>
		<h1 th:text="${title}">Title</h1>
		<div th:text="${message}">Content</div>
<!-- 		<div id="created" th:text="${#dates.format(date)}"></div> -->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" 
            class="btn btn-primary" />
        </form>
	</div>
</body>
</html>
